html {
    height:100%
}
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px
}
body {
    height:100%;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:16px;
    margin:0;
    padding:0;
    color:#555
}
#wrap {
    min-height:100%
}
#footer {
    text-align:center;
    position:relative;
    margin-top:-20px;
    height:20px;
    clear:both;
    font-size:80%
}
a,a:hover,a:visited,a:link {
    text-decoration:none;
    color:#555
}
a.bigLink {
    text-decoration:underline
}
a.bigLink:hover {
    text-decoration:none
}
a.smallLink {
    font-size:16pt
}
a.reallysmallLink {
    font-size:11px
}
a.smallLinkBold {
    font-size:100%;
    font-weight:bold
}
.codeBlock {
    padding:5px;
    border:1px dashed black;
    background-color:white;
    width:550px;
    text-align:left;
    font-weight:bold;
    font-family:"Courier New",Courier,monospace;
    font-size:9pt
}
.codeBlockWide {
    padding:5px;
    border:1px dashed black;
    background-color:white;
    width:900px;
    text-align:left;
    font-weight:bold;
    color:#333;
    font-family:"Courier New",Courier,monospace;
    font-size:9pt
}
.codeBlock textarea {
    margin-top:5px;
    padding:5px;
    width:100%;
    height:150px;
    font-size:9pt;
    font-weight:bold;
    font-family:"Courier New",Courier,monospace
}
.bigButton {
    padding:3px;
    font-size:110%
}
.medButton {
    padding:2px;
    font-size:100%
}
.warningMessage {
    color:red;
    font-weight:bold;
    border:1px solid gray;
    background-color:#c3d9ff;
    padding:8px;
    width:400px
}
.fieldDesc {
    text-align:right;
    font-size:12pt
}
.blueTable {
    background-color:#c3d9ff
}
.blueTable tr td a {
    text-decoration:underline
}
.infoTable tr td {
    font-size:12pt
}
a.paginatorBold {
    font-weight:bold
}
.slider {
    background:#00f;
    height:4px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
    width:275px;
    float:left;
    clear:right;
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000
}
.progress {
    height:4px;
    background-color:#c5ff00;
    display:none;
    opacity:.6
}
.handle {
    background:#fff;
    height:10px;
    width:12px;
    top:-4px;
    position:absolute;
    display:block;
    margin-top:1px;
    border:1px solid #000;
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px
}
.range {
    border:1px inset #ddd;
    float:left;
    font-size:10px;
    margin:0 0 0 5px;
    padding:2px 0;
    text-align:center;
    width:30px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
